<h1>Listing flipfloppers</h1>

<table>
  <thead>
    <tr>
      <th>Drink</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Birthday</th>
      <th>Comment</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flipfloppers.each do |flipflopper| %>
      <tr>
        <td><%= flipflopper.drink %></td>
        <td><%= flipflopper.name %></td>
        <td><%= flipflopper.surname %></td>
        <td><%= flipflopper.email %></td>
        <td><%= flipflopper.birthday %></td>
        <td><%= flipflopper.comment %></td>
        <td><%= link_to 'Show', flipflopper %></td>
        <td><%= link_to 'Edit', edit_flipflopper_path(flipflopper) %></td>
        <td><%= link_to 'Destroy', flipflopper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flipflopper', new_flipflopper_path %>
